*{
    background-color: rgba(88, 87, 87,0.4   );
}
h1, #web {
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
 
h4{
    color: Blue;
    text-decoration: underline;
}
